/.idea/vcs.xml
/.idea/.gitignore
/.idea/car_park.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/example.py
/.idea/dataSources.xml
/txt_help_files/standart_name.txt
/media/cars/A111EN/avatars/car_avatar2022-04-28_050249.364057.webp
/front/img/account/file.png
/front/img/account/mysql-workbench-community_8.0.29-1ubuntu20.04_amd64.deb
/txt_help_files/tasks.txt
/media/drivers/first_driver@mail.ru/avatars/user_avatar2022-04-28_101439.611166.webp
/media/drivers/manager@mail.ru/avatars/user_avatar2022-04-28_102234.808090.webp
/media/drivers/manager@mail.ru/docs/user_doc_СТС_a_2022-05-04

/cabinet/forms.txt
/media/cars/J145PP/avatars/car_avatar
/media/drivers/artur1@mail.ru/avatars/user_avatar2022-05-05_081518.532814.webp
/media/drivers/new_car_view@mail.ru/avatars/user_avatar2022-05-10_093749.372149.webp
/media/drivers/ikirilo1v@mail.ru/avatars/user_avatar2022-05-10_055848.977289.webp
/media/drivers/manager@mail.ru/docs/user_doc_Паспорт_m_2022-05-04
/media/drivers/manager@mail.ru/avatars/user_avatar2022-05-10_120118.728416.webp
/media/drivers/artur1@mail.ru/docs/user_doc_Паспорт_m_2022-05-21
/media/
