@charset "UTF-8";
/* 
&display=swap
&subset=cyrillic-ext 
*/
/* ОБНУЛЕНИЕ СТИЛЕЙ */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
}

html {
  /* по умолчанию */
  /* font-size: 16px;  */
}

:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

input {
  width: 100%;
  /* Убираем влияние padding и border на конечную ширину input */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* Обнуляем margin */
  margin: 0;
}

body {
  line-height: 1;
  font-family: "CoFo Sans";
  background-color: #f5f5f5;
}

[class*="__container"] {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0px 15px;
}

.wrapper {
  min-height: 100%;
  max-width: 1470px;
  overflow: hidden;
  margin: 0 auto;
  background: #F5F5F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

.header {
  background: #005BFF;
  color: #F5F5F5;
  font-weight: 500;
  font-size: 18px;
  line-height: 111%;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 70px;
}

.header__logo h1 {
  font-weight: 800;
  font-size: 25px;
}

.menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  row-gap: 5px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__item a {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: rgba(245, 245, 245, 0.7);
}

.auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth__avatar {
  border-radius: 50%;
  border: 1px solid #F5F5F5;
}

.auth__settings {
  fill: #F5F5F5;
}

.auth__exit {
  color: #f5f5f5;
  font-size: 15px;
}

.active-page a {
  color: #F5F5F5;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main__container {
  font-size: 20px;
  line-height: 150%;
}

.main__app-info {
  margin: 50px auto;
}

.info-app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.info-app__main-info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}

.info-app__item {
  position: relative;
  color: rgba(0, 0, 0, 0.79);
}

.info-app__title {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 5px;
  color: #554bed;
}

.info-app__title:not(:last-child)::after {
  content: '';
  background: rgba(81, 124, 217, 0.824);
  display: block;
  position: absolute;
  /* Абсолютное позиционирование */
  left: 0;
  /* Положение линии слева */
  bottom: -5px;
  /* Положение линии */
  width: 30%;
  /* Линия на ширину текста */
  height: 2px;
  /* Высота линии */
}

.info-app__detail {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 800px;
          flex: 1 1 800px;
}

.info-app__description {
  line-height: 150%;
}

.info-app__btn-submit, .info-app__btn-delete {
  margin-top: 20px;
  padding: 10px;
  color: #f5f5f5;
  background-color: #005BFF;
  font-size: 18px;
  font-weight: 500;
  border-radius: 7px;
}

.info-app__btn-delete {
  background-color: #dd1d1d;
}

.form-app, .form-doc {
  position: absolute;
  left: 40%;
  top: 20%;
  visibility: hidden;
  min-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
  border: 1px solid rgba(21, 23, 178, 0);
  border-radius: 10px;
  padding: 10px 20px 20px 20px;
  -webkit-box-shadow: 11px 11px 35px 1px rgba(31, 128, 202, 0.3);
          box-shadow: 11px 11px 35px 1px rgba(31, 128, 202, 0.3);
  background: #195ac9;
  color: white;
}

.form-app p, .form-doc p {
  font-size: 20px;
  margin-bottom: -5px;
}

.form-app__title, .form-doc__title {
  position: relative;
  font-size: 22px;
  font-weight: 600;
}

.form-app__title::after, .form-doc__title::after {
  content: '';
  background: rgba(49, 157, 224, 0.824);
  display: block;
  position: absolute;
  /* Абсолютное позиционирование */
  left: 1;
  /* Положение линии слева */
  bottom: -10px;
  /* Положение линии */
  width: 60%;
  /* Линия на ширину текста */
  height: 2px;
  /* Высота линии */
}

.form-app__timing, .form-doc__timing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 8px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
  position: relative;
}

.form-app__timing input[type="radio"], .form-doc__timing input[type="radio"] {
  position: absolute;
  width: auto;
  right: 220px;
  z-index: -1;
  opacity: 0;
}

.form-app__timing input[type="radio"]:checked + label::before, .form-doc__timing input[type="radio"]:checked + label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
  background-size: 8px;
}

.form-app__timing input[type="date"], .form-doc__timing input[type="date"] {
  max-width: 35%;
}

.form-app__timing label[for*='date'], .form-doc__timing label[for*='date'] {
  font-size: 18px;
}

.form-app__timing label[for="new_descr"], .form-doc__timing label[for="new_descr"] {
  font-size: 18px;
  margin-top: 5px;
}

.form-app__timing label[for*="rdo"], .form-doc__timing label[for*="rdo"] {
  padding-left: 8px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.form-app__timing label[for*="rdo"]::before, .form-doc__timing label[for*="rdo"]::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 50%;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.form-app__timing textarea, .form-doc__timing textarea {
  resize: none;
}

.form-app__timing button, .form-doc__timing button {
  color: #ffffff;
  font-size: 20px;
  padding: 7px;
  border-radius: 5px;
  background-color: #2badf2;
}

.form-app__timing button:active, .form-doc__timing button:active {
  background: rgba(43, 172, 242, 0.758);
}

.form-app svg, .form-doc svg {
  display: block;
  width: 15px;
  position: absolute;
  right: 2%;
  top: 2%;
}

.form-app svg line, .form-doc svg line {
  stroke: #000;
  stroke-width: 8;
}

.form-app svg:hover line, .form-doc svg:hover line {
  stroke: #503bba;
}

.data-show-or-hide-form {
  -webkit-transition: opacity 400ms ease-in;
  -o-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  visibility: visible;
}

.blackout {
  /* Скрываем подложку  */
  opacity: 0.5;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
  pointer-events: none;
}

.footer {
  background-color: #337afd;
  padding: 5px;
  text-align: center;
  color: #fff;
}

.footer h1 {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
}
