@charset "UTF-8";
/* 
&display=swap
&subset=cyrillic-ext 
*/
/* ОБНУЛЕНИЕ СТИЛЕЙ */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
}

html {
  /* по умолчанию */
  /* font-size: 16px;  */
}

:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

input {
  width: 100%;
  /* Убираем влияние padding и border на конечную ширину input */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* Обнуляем margin */
  margin: 0;
}

.success {
  z-index: 10;
  display: block;
  padding: 30px;
  border-radius: 7px;
  font-size: 20px;
  position: absolute;
  left: 45%;
  top: 40%;
  background-color: #12e15ac9;
  color: #58773f;
}

.error {
  z-index: 10;
  display: block;
  padding: 30px;
  border-radius: 7px;
  font-size: 20px;
  position: absolute;
  left: 45%;
  top: 40%;
  background-color: #e11212c9;
  color: rgba(6, 2, 2, 0.568);
}

a:link {
  color: #013a53;
}

a:visited {
  color: #16617a;
}

a:focus {
  border-bottom: 1px solid;
}

a:hover {
  border-bottom: 1px solid;
}

input[type='text'] {
  font-weight: 400;
  font-size: 18px;
  font-family: serif;
}

input[type='date'] {
  font-weight: 400;
  font-size: 15px;
  font-family: serif;
}

body {
  line-height: 1;
  font-family: "CoFo Sans";
  background-color: #f5f5f5;
}

[class*="__container"] {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0px 15px;
}

.wrapper {
  min-height: 100%;
  max-width: 1470px;
  overflow: hidden;
  margin: 0 auto;
  background: #F5F5F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

.header {
  background: #005BFF;
  color: #F5F5F5;
  font-weight: 500;
  font-size: 18px;
  line-height: 111%;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 70px;
}

.header__logo h1 {
  font-weight: 800;
  font-size: 25px;
}

.menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  row-gap: 5px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__item a {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: rgba(245, 245, 245, 0.7);
}

.auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth__avatar {
  border-radius: 50%;
  border: 1px solid #F5F5F5;
}

.auth__settings {
  fill: #F5F5F5;
}

.auth__exit {
  color: #f5f5f5;
  font-size: 15px;
}

.active-page a {
  color: #F5F5F5;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main__container {
  min-height: 60px;
}

.main__title {
  margin: 40px 0px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  font-size: 40px;
  font-weight: 500;
}

.main__title h1 {
  line-height: 50px;
  color: #06204E;
}

.main__title p {
  line-height: 50px;
  color: #06204E;
  opacity: 0.5;
}

.main__btn-add-card {
  position: relative;
  bottom: 7px;
  left: 2px;
  padding: 10px;
  color: #f5f5f5;
  background-color: #005BFF;
  font-size: 18px;
  font-weight: 500;
  border-radius: 7px;
}

.main__filtration {
  max-width: 850px;
  max-height: 85px;
}

.main__information {
  margin: 100px 0px 100px 0px;
}

.filtr-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #D6DDEB;
  border-radius: 10px;
}

.filtr-items > :nth-child(2) {
  padding-left: 20px;
}

.filtr-items > :nth-child(2)::after {
  content: url(../img/filtr/arrow-down.svg);
  padding-right: 15px;
  margin-left: 10px;
}

.filtr-items > li:hover .filtr-items__sub-menu {
  opacity: 1;
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1);
}

.filtr-items > :not(:last-child) {
  border-right: 1px solid #D6DDEB;
  padding-left: 10px;
}

.filtr-items > :first-child {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.filtr-items > :nth-child(3) {
  padding: 5px;
  font-weight: 550;
}

.filtr-items__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 55px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.filtr-items__item p {
  font-weight: 400;
  font-size: 18px;
  line-height: 144%;
  color: #5f5b5b;
}

.filtr-items__item input {
  background: #F5F5F5;
  max-width: auto;
  min-height: 85%;
  padding-left: 5px;
}

.filtr-items__item input::-webkit-input-placeholder {
  font-family: serif;
  text-align: center;
  padding-left: 50px;
  font-weight: 400;
  font-size: 18px;
  max-width: 100px;
  line-height: 144%;
  color: #454545;
}

.filtr-items__item input:-ms-input-placeholder {
  font-family: serif;
  text-align: center;
  padding-left: 50px;
  font-weight: 400;
  font-size: 18px;
  max-width: 100px;
  line-height: 144%;
  color: #454545;
}

.filtr-items__item input::-ms-input-placeholder {
  font-family: serif;
  text-align: center;
  padding-left: 50px;
  font-weight: 400;
  font-size: 18px;
  max-width: 100px;
  line-height: 144%;
  color: #454545;
}

.filtr-items__item input::placeholder {
  font-family: serif;
  text-align: center;
  padding-left: 50px;
  font-weight: 400;
  font-size: 18px;
  max-width: 100px;
  line-height: 144%;
  color: #454545;
}

.filtr-items__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 144%;
  color: #9E9E9E;
}

.filtr-items__sub-menu {
  background: #F5F5F5;
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.12);
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 5;
  display: block;
  width: 100%;
  opacity: 0;
  -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.filtr-items__sub-item {
  position: relative;
  padding: 12px 15px;
  font-size: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #000000a8;
}

.filtr-items__sub-item:hover {
  background: #E5EEFF;
}

.filtr-items__check {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.filtr-items__check + .filtr-items__check-label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.filtr-items__check + .filtr-items__check-label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.filtr-items__check:checked + .filtr-items__check-label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  background-size: cover;
}

.filtr-items__button {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 58px;
          flex: 1 1 58px;
  min-width: 30px;
  background: #005BFF;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-transition: .1s ease-in-out;
  -o-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

.filtr-items__button:active {
  background: #134cb6;
}

.table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

.table__titles {
  background: #0828dba2;
  color: #f5f5f5;
}

.table__title, .table__cell {
  border: 1px solid #ddd;
  padding: 8px;
}

.table__row:nth-child(even) {
  background-color: #e6e5f1;
}

.table__row:hover {
  background-color: rgba(23, 151, 226, 0.514);
}

.table__cell :last-child {
  margin: -8px;
}

.table__check-label {
  display: block;
  height: 100%;
  width: 100%;
  padding-left: -5px;
}

.table__confiscate {
  padding: 7px;
  font-size: 17px;
  background-color: rgba(23, 151, 226, 0.514);
  border-radius: 10px;
  color: white;
}

.btn-reset {
  font-weight: 400;
  font-size: 18px;
  line-height: 144%;
  color: #005BFF;
}

.form-card {
  position: absolute;
  left: 40%;
  top: 20%;
  visibility: hidden;
  max-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
  border: 1px solid rgba(21, 23, 178, 0);
  border-radius: 10px;
  padding: 10px 20px 20px 20px;
  -webkit-box-shadow: 11px 11px 35px 1px rgba(31, 128, 202, 0.3);
          box-shadow: 11px 11px 35px 1px rgba(31, 128, 202, 0.3);
  background: #195ac9;
  color: white;
}

.form-card p {
  font-size: 20px;
  margin-bottom: -5px;
}

.form-card__title {
  position: relative;
  font-size: 22px;
  font-weight: 600;
}

.form-card__title::after {
  content: '';
  background: rgba(49, 157, 224, 0.824);
  display: block;
  position: absolute;
  /* Абсолютное позиционирование */
  left: 1;
  /* Положение линии слева */
  bottom: -10px;
  /* Положение линии */
  width: 60%;
  /* Линия на ширину текста */
  height: 2px;
  /* Высота линии */
}

.form-card__timing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 8px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
  position: relative;
}

.form-card__timing input {
  max-width: 60%;
  padding: 5px;
}

.form-card__timing #id_owner {
  max-width: 60%;
}

.form-card__timing button {
  color: #ffffff;
  font-size: 20px;
  padding: 7px;
  border-radius: 5px;
  background-color: #2badf2;
}

.form-card__timing button:active {
  background: rgba(43, 172, 242, 0.758);
}

.form-card svg {
  display: block;
  width: 15px;
  position: absolute;
  right: 2%;
  top: 2%;
}

.form-card svg line {
  stroke: #000;
  stroke-width: 8;
}

.form-card svg:hover line {
  stroke: #503bba;
}

.errorlist {
  color: red;
}

.success {
  z-index: 10;
  display: block;
  padding: 30px;
  border-radius: 7px;
  font-size: 20px;
  position: absolute;
  left: 45%;
  top: 40%;
  background-color: #12e15ac9;
  color: #58773f;
}

.error {
  z-index: 10;
  display: block;
  padding: 30px;
  border-radius: 7px;
  font-size: 20px;
  position: absolute;
  left: 45%;
  top: 40%;
  background-color: #e11212c9;
  color: rgba(6, 2, 2, 0.568);
}

.data-show-or-hide-form {
  -webkit-transition: opacity 400ms ease-in;
  -o-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  visibility: visible;
}

.blackout {
  /* Скрываем подложку  */
  opacity: 0.5;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
  pointer-events: none;
}

.errorlist {
  color: red;
}

.footer {
  background: #005BFF;
  padding: 5px;
  text-align: center;
  color: #fff;
}

.footer h1 {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
}
