.main {
    flex: 1 1 auto;
    // .main__container
    &__container {
        min-height: 60px;

    }
    // .main__title
    &__title {

        margin: 40px 0px;

        display: flex;
        column-gap: 10px;
        align-items: baseline;

        h1 {
            font-size: 40px;
            line-height: 50px;
            color: #06204E;
            font-weight: 500;
        }

        p {
            font-weight: 500;
            font-size: 40px;
            line-height: 50px;

            color: #06204E;
            opacity: 0.5;
        }

    }
    // .main__filtration
    &__filtration {
        
    }
    // .main__information
    &__information {
        margin: 100px 0px 100px 0px;
    }
    // .main__table
    &__table {}
}
.filtr-items {
    display: flex;
    justify-content: center;
    
    border: 1px solid #D6DDEB;
	border-radius: 10px;
    
    > :not(:first-child):not(:last-child) {
        padding-left: 25px;
        &::after{
            content: url(../img/filtr/arrow-down.svg);
            padding-right: 15px;
        }
    }

    > li:hover .filtr-items__sub-menu {
        opacity: 1;
        transform: scaleY(1);
    }
    
    > :not(:last-child){
        border-right:1px solid #D6DDEB;
    }
    :first-child{
        
        flex: 1 1 300px;
    }


    // .filtr-items__item
    &__item {
        flex: 1 1 25%;
        height: 58px;

        display: flex;
        justify-content: flex-start;
        align-items: center;

        position: relative;

        input{
            background: #F5F5F5;
            height: 85%;
			width: auto;
            padding-left: 5px;
            &::placeholder{
                font-family: serif;
                padding-left: 50px;
				font-weight: 400;
				font-size: 18px;
				line-height: 144%;
				color: hsl(0, 0%, 27%);
            }

        }

    }
    // .filtr-items__title
    &__title {
        flex: 1 1 auto;
        font-weight: 400;
        font-size: 18px;
        line-height: 144%;
        color: #9E9E9E;
    }
    // .filtr-items__sub-menu
    &__sub-menu {
        background: #F5F5F5;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.12);
        position: absolute;
        left: 0;
        top: 100%;
        z-index: 5;
        display: block;
        width: 100%;
        opacity: 0;
        transform: scaleY(0);
        transform-origin: 0 0;
        transition: .5s ease-in-out;
        li{
            // display: none;
            // text-align: left;
            padding: 12px 15px;
            font-size: 15px;

            a{
                font-weight: 400;
                font-size: 16px;
                line-height: 125%;
                color: #000000a8;

                // text-align: left;
                padding: 12px 15px;
                
            }
        }
    }
    // .filtr-items__button
    &__button {
            flex: 1 1 58px;
            
            background: #005BFF;

            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
    }
}

.table {
    border-collapse: collapse;
    width: 100%;

    // .table__titles
    &__titles {
        background: #0828dba2;
        color: #f5f5f5;

    }

    &__title, &__cell{
        border: 1px solid #ddd;
        padding: 8px;
    }
    
    // .table__title
    &__title {

    }
    // .table__row
    &__row {
        &:nth-child(even){
            background-color: #e6e5f1;
        }
        &:hover {
            background-color: rgb(44, 156, 221);
        }

    }
    // .table__cell
    &__cell {
    }
}
