.main {
    // .main__container
    flex: 1 1 auto;
    &__container {
        display: flex;
        column-gap: 50px;
    }
    // .main__account
    &__account {
        margin: 50px 0px;
    }

    &__tables {
        margin: 50px 0px;
        flex: 1 1 auto;

        display: flex;
        flex-direction: column;
        row-gap: 30px;

    }

    // .main__form-add-app
    &__form-add-app {}
}
.account-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 350px;
    row-gap: 20px;
    // .account-area__avatar
    &__avatar {
        
        img {
            width: auto;
            height: auto;
            // border: 1px solid rgb(33, 18, 143);
            box-shadow: 11px 9px 8px 0px rgba(28, 122, 193, 0.2);
        }

        input {
            
        }
    }
    // .account-area__info
    &__info {
        display: flex;
        flex-direction: column;

        row-gap: 20px;
    }

    &__item {
        display: flex;
        // justify-content: flex-end;
        :first-child {
            flex: 1 1 auto;
        }

        font-size: 18px;

        // label {

        // }

        input {
            width: 70%;
            font-size: 18px;
            
        }
    }
}


.table {
    table{
        border-collapse: collapse;
        width: 100%;
        text-align: center;
        line-height: 140%;
    }

    //.table__table-title
    &__table-title{
        font-size: 18px;
        margin-bottom: 10px;
    }

    // .table__titles
    &__titles {
        background: #0828dba2;
        color: #f5f5f5;

    }

    &__title, &__cell{
        border: 1px solid #ddd;
        padding: 8px;
    }
    
    // .table__title
    &__title {

    }
    // .table__row
    &__row {
        // &:nth-child(even){
        //     background-color: #e6e5f1;
        // }
        // &:hover {
        //     background-color: rgba(23, 151, 226, 0.514);
        // }
    }
    // .table__cell
    &__cell {
    }

    &__btn-add-app {
        font-size: 15px;
        color: white;
        background: #005BFF;
        padding: 6px;
        border-radius: 5px;
        &:active {
            background: #134cb6
        }
    }

}

.form-add {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    max-width: 400px;
    border: 1px solid rgba(21, 23, 178, 0);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 11px 11px 35px 1px rgba(31, 128, 202, 0.3);
    background: #195ac9;
    color: white;
    
    p {
        font-size: 20px;
        margin-bottom: -5px;
        
    }

    // .form-add__title
    &__title {
        position: relative;
        font-size: 22px;
        font-weight: 600;
        &::after {
            content: '';
            background: rgba(49, 157, 224, 0.824);
            display: block;
            position: absolute; /* Абсолютное позиционирование */
            left: 1; /* Положение линии слева */
            bottom: -10px; /* Положение линии */
            width: 60%; /* Линия на ширину текста */
            height: 2px; /* Высота линии */
        }
    }
    // .form-add__timing
    &__timing {
        display: flex;
        flex-direction: column;
        row-gap: 8px;
        flex: 0 1 30%;
        position: relative;
        input[type="radio"] {
            position: absolute;
            width: auto;
            right: 220px;
            z-index: -1;
            opacity: 0;

            &:checked+label::before {
                border-color: #0b76ef;
                background-color: #0b76ef;
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
                background-size: 8px;
            }
        }

        label[for="new_descr"] {
            font-size: 18px;
            margin-top: 5px;
        }
        label:not(label[for="new_descr"]) {
            padding-left: 8px;
            display: inline-flex;
            align-items: center;
            user-select: none;
            // position: relative;
            
            &::before {
                content: '';
                display: inline-block;
                width: 15px;
                height: 15px;
                flex-shrink: 0;
                flex-grow: 0;
                border: 1px solid #adb5bd;
                border-radius: 50%;
                margin-right: 5px;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 50% 50%;

               
        }
    }
        textarea {
            resize: none;
        }

        button {
            color:#ffffff;
            font-size: 20px;
            padding: 7px;
            border-radius: 5px;
            background-color: rgb(43, 173, 242);

            &:active {
                background: rgba(43, 172, 242, 0.758)
            }
        }
    }
}
