// .main {
//     flex: 1 1 auto;
//     // .main__container
//     &__container {
//         font-size: 20px;

//         :first-child{
//             flex: 1 1 auto;
//         }
//     }
//     // .main__app-info
//     &__app-info {
//         // max-width: 300px;
//         margin: 50px auto;
//     }
// }
// .info-app {
//     display: flex;
//     row-gap: 20px;
//     flex: 1 1 auto;
    
//     // .info-app__item
//     &__item {
//         position: relative;
//     }

//     &__main-info {
//         display: flex;
//         flex-direction: column;
//         row -gap: 20px;

//     }

//     &__detail {

//     }

//     //info-app__title
//     &__title {
//         font-size: 25px;
//         font-weight: 500;
//         margin-bottom: 5px;
//         color: rgb(49, 40, 184);

//         &:not(:last-child)::after{
//             content: '';
//             background: rgba(0, 81, 255, 0.824);
//             display: block;
//             position: absolute; /* Абсолютное позиционирование */
//             left: 0; /* Положение линии слева */
//             bottom: -5px; /* Положение линии */
//             width: 30%; /* Линия на ширину текста */
//             height: 2px; /* Высота линии */
//         }
//     }

//     &__description {
        
//         width: 70%;
//         line-height: 150%;
//     }
// }


.main {
    flex: 1 1 auto;

    // .main__container
    &__container {
        font-size: 20px;
        line-height: 150%;
    }
    // .main__app-info
    &__app-info {
        margin: 50px auto;
    }
}
.info-app {
    display: flex;
    column-gap: 20px;

    // .ifno-app__main-info
    &__main-info {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

    // .info-app__item
    &__item {
        position: relative;
        color: rgba(0, 0, 0, 0.79);
    }
    // .info-app__title
    &__title {
        font-size: 25px;
        font-weight: 500;
        margin-bottom: 5px;
        color: rgb(85, 75, 237);

        &:not(:last-child)::after{
            content: '';
            background: rgba(81, 124, 217, 0.824);
            display: block;
            position: absolute; /* Абсолютное позиционирование */
            left: 0; /* Положение линии слева */
            bottom: -5px; /* Положение линии */
            width: 30%; /* Линия на ширину текста */
            height: 2px; /* Высота линии */

        }
    } 
    
    // .info-app__detail
    &__detail {
        flex: 1 1 800px;

    }
    

    &__description {
        // width: 70%;
        line-height: 150%;
    }


    &__btn-submit,&__btn-delete, &__btn-confirm, &__btn-refuse {
        margin-top: 20px;
        padding: 10px;
        color: #f5f5f5;
        background-color: #005BFF;
        font-size: 18px;
        font-weight: 500;
        border-radius: 7px;
    }

    &__btn-delete,  &__btn-refuse {
        background-color: rgb(221, 29, 29);
    }
}

.form-app, .form-doc {
    position: absolute;
    left: 40%;
    top:20%;
    visibility: hidden;
    min-width:400px;

    display: flex;
    flex-direction: column;
    row-gap: 20px;
    border: 1px solid rgba(21, 23, 178, 0);
    border-radius: 10px;
    padding: 10px 20px 20px 20px;
    box-shadow: 11px 11px 35px 1px rgba(31, 128, 202, 0.3);
    background: #195ac9;
    color: white;
    
    p {
        font-size: 20px;
        margin-bottom: -5px;
        
    }

    // .form-add__title
    &__title {
        position: relative;
        font-size: 22px;
        font-weight: 600;
        &::after {
            content: '';
            background: rgba(49, 157, 224, 0.824);
            display: block;
            position: absolute; /* Абсолютное позиционирование */
            left: 1; /* Положение линии слева */
            bottom: -10px; /* Положение линии */
            width: 60%; /* Линия на ширину текста */
            height: 2px; /* Высота линии */
        }
    }
    // .form-add__timing
    &__timing {
        display: flex;
        flex-direction: column;
        row-gap: 8px;
        flex: 0 1 30%;
        position: relative;
        input[type="radio"], input[id*="id_urgency"] {
            position: absolute;
            width: auto;
            right: 220px;
            z-index: -1;
            opacity: 0;

            &:checked+label::before {
                border-color: #0b76ef;
                background-color: #0b76ef;
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
                background-size: 8px;
            }
        }

        input[type="date"] {
            max-width: 35%;
            // padding-left: 10px;
        }
        label[for*='date'] {
            font-size: 18px;
            
        }

        label[for="new_descr"] {
            font-size: 18px;
            margin-top: 5px;
        }
        label[for*="rdo"], label[for*="id_urgency"] {
            padding-left: 8px;
            display: inline-flex;
            align-items: center;
            user-select: none;
            // position: relative;
            
            &::before {
                content: '';
                display: inline-block;
                width: 15px;
                height: 15px;
                flex-shrink: 0;
                flex-grow: 0;
                border: 1px solid #adb5bd;
                border-radius: 50%;
                margin-right: 5px;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 50% 50%;

               
        }
    }
        textarea {
            resize: none;
        }

        button {
            color:#ffffff;
            font-size: 20px;
            padding: 7px;
            border-radius: 5px;
            background-color: rgb(43, 173, 242);

            &:active {
                background: rgba(43, 172, 242, 0.758)
            }
        }
    }

        svg {
            display: block; 
            width: 15px;
            // background: #195ac9;
            position: absolute;
            right: 2%;
            top: 2%;
          }
          
          svg line {
            stroke: #000;
            stroke-width: 8;
          }
          
          svg:hover line {
            stroke: #503bba;
          }
    
}

.confirm-delete, .confirm-refuse {

    position: absolute;
    left: 40%;
    top:20%;

    font-size: 20px;
    text-align: center;

    padding: 10px 20px 20px 20px;
    border-radius: 10px;
    padding: 10px 20px 20px 20px;
    box-shadow: 11px 11px 35px 1px rgba(31, 128, 202, 0.3);

    z-index: 5;
    visibility: hidden;

    background-color: #657ff2;




    h1 {
        
    }
    
    button {
        margin-top: 10px;
        font-size: 20px;

        padding: 10px;
        border-radius: 5px;
        color: whitesmoke;
    }

    button[type="submit"]{
        background-color: rgb(221, 60, 28);
    }

    button[id*="notsubmit"]{
        background-color: rgb(54, 54, 178);
    }
}


.data-show-or-hide-form{
transition: opacity 400ms ease-in;
visibility: visible;
}

.blackout {
    /* Скрываем подложку  */
    opacity: 0.5;
    transition: .3s all;
    pointer-events: none;
 }

