{% extends 'base.html' %}
{% load static %}

{% block static_href %}
    {% static 'css/app.css' %}
{% endblock static_href %}

{% block title %} заявка № {{ app.pk }}  {% endblock title%}


{% block main %}
    <div class="main">
        <div class="main__container">
            {% if user.is_manager or user.pk == app.owner.pk %}
                <div class="main__app-info info-app">
                    <div class="info-app__main-info">
                        <div class="info-app__item">
                            <p class="info-app__title">Заявка</p>
                            <p id="id_pk">№ {{ app.pk }}</p>
                        </div>
                        <div class="info-app__item">
                            <p class="info-app__title">Срочность</p>
                            {% if app.urgency == 'N' %}
                                <p id="id_urgency">Не срочно (10 дней на выполнение)</p>
                            {% elif app.urgency == 'U' %}
                                <p id="id_urgency">Срочно (7 дней на выполнение)</p>
                            {% else %}
                                <p id="id_urgency">Очень срочно (3 дня на выполнение)</p>
                            {% endif %}
                        </div>

                        <div class="info-app__item">
                            <p class="info-app__title">Статус выполнения</p>
                            {% if app.status == 'O' %}
                                <p id="id_status" style="color: #ffac50">Ожидает рассмотрения</p>
                            {% elif app.status == 'OE' %}
                                <p id="id_status" style="color: #389b4c">Ожидает подтверждение механика</p>
                            {% elif app.status == 'V' %}
                                <p id="id_status" style="color: green">Выполнена</p>
                            {% elif app.status == 'P' %}
                                <p id="id_status" style="color: red">Просрочена</p>
                            {% elif app.status == 'T' %}
                                <p id="id_status" style="color: orange">Отклонена</p>
                            {% endif %}
                        </div>

                        <div class="info-app__item">
                            <p id="id_start_date"  class="info-app__title">Дата создания</p>
                            <p>{{ app.start_date|date:"d-m-Y" }}</p>
                        </div>

                        <div class="info-app__item">
                            <p id="id_consideration_date" class="info-app__title">Дата рассмотрения (ожидаемая)</p>
                            <p>21.05.2022</p>
                        </div>

                        <div class="info-app__item">
                            <p id="id_end_date" class="info-app__title">Дата завершения (ожидаемая)</p>
                            <p>{{ app.end_date|date:"d-m-Y" }}</p>
                        </div>

                        <div class="info-app__item">
                            <p id="id_creator" class="info-app__title">Создатель</p>
                            <p> {{ app.owner.last_name}} {{ app.owner.first_name|slice:'0:1' }}. {{ app.owner.patronymic|slice:"0:1" }} </p>
                        </div>


                        <div class="info-app__item">
                            <p class="info-app__title">Механик</p>
                            {% if app.engineer %}
                                <p  id="id_engineer"> {{ app.engineer.last_name}} {{ app.engineer.first_name|slice:'0:1' }}. {{ app.engineer.patronymic|slice:"0:1" }} </p>
                            {% else %}
                                <p  id="id_engineer">Не выбран</p>
                            {% endif %}
                        </div>


                        <div class="info-app__item">
                            <p class="info-app__title">Авто</p>
                            <p  id="id_car">
                                <a href="{% url 'choose-car' app.car.registration_number %}">
                                    {{ app.car.registration_number|slice:'0:1'}}-{{ app.car.registration_number|slice:'1:4'}}-{{ app.car.registration_number|slice:'4:6'}}
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="info-app__detail">
                        <div class="info-app__item">
                            <p class="info-app__title">Описание</p>
                            <p  id="id_description" class="info-app__description">{{ app.description }}</p>
                        </div>
                        {% if app.manager_descr %}
                            <div class="info-app__item">
                                <p class="info-app__title">Комментарий:</p>
                                <p  id="id_comment" class="info-app__description">{{ app.manager_descr }}</p>
                            </div>
                        {% endif %}
                        {% if app.owner == user %}
                            <div class="info-app__buttons">
                                <button style="background: #2badf2" class="info-app__btn-submit" type="submit">Изменить заявку  </button>
                                <button class="info-app__btn-delete" type="submit">Удалить заявку  </button>
                            </div>

                        {% elif user.is_manager %}
                            <div class="info-app__buttons">
                                {% if app.status == 'O' or app.status == 'T' %}
                                    <button class="info-app__btn-confirm">Подтвердить
                                    <button style="background: #ff7a47" class="info-app__btn-refuse">Вернуть на доработку
                                {% elif app.status == 'OE' %}
                                    <button class="info-app__btn-confirm">Изменить<br>Поддтверджение
                                    <button style="background: #ff7a47" class="info-app__btn-refuse">Вернуть на доработку
                                {% else %}
                                    <button style="background: #ff7a47" class="info-app__btn-refuse">Вернуть на доработку
                                {% endif %}
                                    </button>
                            </div>
                        {% endif %}

                 </div>
                </div>
            {% else %}
                <h1 style="
                text-align: center;
                margin-top: 20%;
                font-size: 30px;
                opacity: 0.7;
                ">Страница недоступна</h1>
                {{ user.pk }}
                {{ app.owner.pk }}
            {% endif %}
        </div>
    </div>
{% endblock main %}

{% block forms %}
{% if user.is_manager or user.pk == app.owner.pk %}
    <form method="post">{% csrf_token %}
        <div class="form-app change">
            <button type="reset">
            <div class="bnt-form-app-reset-change">
                <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                    <line x1="0" x2="100" y1="0" y2="100" />
                    <line x1="0" x2="100" y1="100" y2="0" />
                </svg>
            </div>
            </button>
            <h1 class="form-app__title">Заявка на авто {{ app.car.registration_number }}</h1>
            <div class="form-app__timing">
                {{ form.errors }}
                <p>{{ form.type.label }}:</p>
                {{ form.type }}
                <p>Срочность:</p>
                <br>
                {% for radio in form.urgency %}
                    {{ radio.tag }}
                    <label for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                {% endfor %}
                 {% if user.is_manager %}
                    <p>{{ form.engineer.label }}:</p>
                    {{ form.engineer }}
                {% endif %}
                <label for="new_descr">Опишите суть заявки:</label>
                {{ form.description }}
                {{ form.action }}
                <button type="submit" value="TRueForm">Отправить</button>
            </div>
        </div>
    </form>

    <form method="post">{% csrf_token %}
        <div class="confirm-delete">
            <h1>Удалить заявку №{{ application.pk }}</h1>
            <input type="hidden" name="action" value="delete-yes">
            <button type="submit">Да</button>
            <button  type="reset" id="notsubmit">Нет</button>
        </div>
    </form>

    <form method="post">{% csrf_token %}
        <div class="confirm-refuse">
            <h1>Отправить на дороботку<br> заявку №{{ application.pk }}</h1>
            <input type="hidden" name="action" value="refuse-yes">
            <button type="submit">Да</button>
            <button  type="reset" id="notsubmit-refuse">Нет</button>
        </div>
    </form>
{% endif %}

{% if user.is_manager %}
    <form method="post"> {% csrf_token %}
        <div class="form-app confirm">
            <button type="reset">
                <div class="bnt-form-app-reset-confirm">
                    <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                        <line x1="0" x2="100" y1="0" y2="100" />
                        <line x1="0" x2="100" y1="100" y2="0" />
                    </svg>
                </div>
            </button>
            <h1 class="form-app__title">Подтвердить заявку:</h1>
            <div class="form-app__timing">
                {{ manager_commit_form }}
                <input type="hidden" name="action" value="app_confirm">
                <button type="submit">Отправить</button>
            </div>
        </div>
    </form>
{% endif %}

{% endblock forms %}

{% block js_script %}
    {% if user.is_manager or user.pk == app.owner.pk %}
        <script src="{% static 'js/new_app.js' %}"></script>
    {% endif %}
{% endblock js_script %}