{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% block static_href %} {% endblock static_href %}">
    <title>{% block title %} {% endblock title%}</title>
</head>
{% endblock head %}
<body>
{% block header %}
<div class="wrapper">
    <header class="header">
            <div class="header__container">

                <div class="header__logo">
                    <h1>CAR's</h1>
                </div>

                <div class="header__menu menu">
                    <ul class="menu__items">
                        {#      active-page     #}
                      <li class="menu__item {% block car_active %}    {% endblock car_active %}"><a href="{% url 'cars' %}">Автомобили</a></li>
                      <li class="menu__item {% block driver_active %}    {% endblock driver_active %}"><a href="{% url 'drivers' %}">Водители</a></li>
                      <li class="menu__item {% block document_active %}    {% endblock document_active %}"><a href="{% url 'documents' %}">Документы</a></li>
                      <li class="menu__item {% block cards_active %}    {% endblock cards_active %}"><a href="{% url 'cards' %}">Топливные карты</a></li>
                      <li class="menu__item {% block apps_active %}    {% endblock apps_active %}"><a href="{% url 'applications' %}">Заявки</a></li>
                      <li class="menu__item {% block log_active %}    {% endblock log_active %}"><a href="{% url 'history' %}">История</a></li>

                    </ul>
                </div>

                <div class="header__auth auth">

                    <a href="{% url 'account' %}" class="auth__settings">
                        {% if user.image %}
                            <img style=" border-radius: 50%;
                                         border: 1px solid #F5F5F5;
                                         width: 60px;
                                         height: 60px;"
                                 class="auth__avatar" src="{{ user.image.url }}" alt="avatar">
                        {% endif %}
                    </a>
{#                    {{ user.role }}#}
{#                    {{ user.pk }}#}
                    <a href="{% url 'logout' %}" class="auth__exit">
{#                        {% if user.image %}#}
{#                            <img style="width: 30px; height: 30px; opacity: 0.8" src="{% static '/img/header/exit-white.svg' %}" alt="">#}
{#                        {% endif %}#}
                        <img style="width: 30px; height: 30px; opacity: 0.8" src="{% static '/img/header/exit-white.svg' %}" alt="">
                    </a>
{#                    {% if user.is_authenticated %}#}
{#                        <p>{{ user.email }}</p>#}
{#                    {% endif %}#}
                </div>

            </div>
        </header>
{% endblock header %}

{% block main %}

{% endblock main %}

{% block footer %}
<footer class="footer">
    <h1>CAR's</h1>
    <p>© 2022 </p>

</footer>
{% endblock footer %}
</div>
{% block forms %}

{% endblock forms %}


{% block messages %}
{% if messages %}
    <ul class="messages {{ message.tags }}">
        {% for message in messages %}
            <li class="{{ message.tags }}">
                {{ message|safe }}
                <a  style="color: white;" href="#" class="close">✖</a>
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock messages %}

{% block js_script %}

{% endblock js_script %}
</body>
</html>