{% extends 'base.html' %}
{% load static %}

{% block static_href %}
    {% static 'css/documents.css' %}
{% endblock static_href %}

{% block title %} Документы11 {% endblock title%}

{% block document_active %} active-page   {% endblock document_active %}

{% block main %}
 <div class="main">
            <div class="main__container">
            {% if user.is_manager %}
                <div class="main__title">
                    <h1>Документы</h1>
                    <p>
                        {{ all_docs|length }}
                    </p>
                </div>
            <form action="{% url 'documents' %}" method="get">
                <ul class="main__filtration filtr-items">
                    <li class="filtr-items__item">
                        <p>получение:</p>
                        <input type="date" name="start_date" placeholder="от.">
                        <p>окончание:</p>
                        <input type="date" name="end_date" placeholder="до.">
                    </li>
                    <li class="filtr-items__item">
                        <p class="filtr-items__title">Авто/Водитель</p>
                        <ul class="filtr-items__sub-menu">
                            <label for="auto" class="filtr-items__check-label">
                                <li class="filtr-items__sub-item"><input class="filtr-items__check data-auto-check" checked type="checkbox" name="aorm" id="auto" value="car">
                                    <label for="auto" class="filtr-items__check-label">Авто</label>
                                </li>
                            </label>
                            <label for="man" class="filtr-items__check-label">
                                <li class="filtr-items__sub-item"><input class="filtr-items__check data-driver-check" checked type="checkbox" name="aorm" id="man" value="man">
                                    <label for="man" class="filtr-items__check-label">Водитель
                                </li>
                            </label>

                        </ul>
                    </li>

                    <li class="filtr-items__item">
                        <p class="filtr-items__title" id="opacity-title-car">Тип (Авто)</p>
                        <div id="block-to_hide-car">
                            <ul class="filtr-items__sub-menu">
                                {% for car_type_of_docs in view.get_car_types_of_docs %}
                                    <label for="{{ car_type_of_docs.id }}" class="filtr-items__check-label">
                                        <li class="filtr-items__sub-item"><input class="filtr-items__check" value="{{ car_type_of_docs.id }}" type="checkbox" name="doc_type" id="{{ car_type_of_docs.id }}">
                                            <label for="{{ car_type_of_docs.id }}" class="filtr-items__check-label">{{ car_type_of_docs.title }}</label>
                                        </li>
                                    </label>
                               {% endfor %}

                            </ul>
                        </div>
                    </li>

                    <li class="filtr-items__item">
                        <p class="filtr-items__title" id="opacity-title-man">Тип (Человек)</p>
                        <div id="block-to_hide-man">
                            <ul class="filtr-items__sub-menu">
                                {% for man_type_of_docs in view.get_man_types_of_docs %}
                                    <label for="{{ man_type_of_docs.id }}" class="filtr-items__check-label">
                                        <li class="filtr-items__sub-item"><input class="filtr-items__check"  value="{{ man_type_of_docs.id }}" type="checkbox" name="doc_type" id="{{ man_type_of_docs.id }}">
                                            <label for="{{ man_type_of_docs.id }}" class="filtr-items__check-label">{{ man_type_of_docs.title }}</label>
                                        </li>
                                    </label>
                                {% endfor %}

                        </div>
                    </li>
                    <button type="submit" class="filtr-items__button">
                        <img src="{% static 'img/filtr/lupa.svg' %}" alt="поиск">
                    </button>
                </ul>
                <a class="btn-reset" href="{% url 'documents' %}">Сбросить</a>
                {% for parametr in get_parametrs %}
                    {{ parametr }}
                {% endfor %}

            </form>

                <div class="main__information">
                {% if all_docs %}
                    <table class="main__table table">

    <!-- ID -->                            <col style="width:5%">
    <!-- Дата создания -->                 <col style="width:15%">
    <!-- Дата окнчания -->                 <col style="width:15%">
    <!-- Срочность -->                     <col style="width:15%">
    <!-- Статус -->                        <col style="width:15%">
    <!-- Тип -->                           <col style="width:2%">

                        <tr class="table__titles">
                          <th class="table__title">Тип документа</th>
                          <th class="table__title">Дата получения</th>
                          <th class="table__title">Дата окончания</th>
                          <th class="table__title">Авто/Водитель</th>
                          <th class="table__title">Владелец</th>
                        </tr>
                    {% for doc in all_docs %}
                        <tr class="table__row">
                          <td class="table__cell">{{ doc.type }}</td>
                          <td class="table__cell">{{ doc.start_date|date:"d-m-Y"}}</td>
                          <td class="table__cell">{{ doc.end_date|date:"d-m-Y"}}</td>
                          <td class="table__cell">
                              {% if doc.type.type == 'm' %}
                                   Водитель
                               {% else %}
                                  Авто
                              {% endif %}
                          </td>

                          <td class="table__cell">{{ doc.owner }}</td>
                        </tr>
                    {% endfor %}
{#                        <tr class="table__row">#}
{#                            <td class="table__cell">страховое</td>#}
{#                            <td class="table__cell">22.02.2021</td>#}
{#                            <td class="table__cell">22.02.2022</td>#}
{#                            <td class="table__cell">машина</td>#}
{#                            <td class="table__cell">A-111-EE</td>#}
{#                          </tr>#}
                    </table>
                    {% else %}
                    <p style="text-align: center; font-size: 30px; opacity: 0.8">Не найдено </p>
                {% endif %}
                </div>

            {% else %}
             <h1 style="
                text-align: center;
                margin-top: 20%;
                font-size: 30px;
                opacity: 0.7;
                            ">Страница недоступна</h1>
            {% endif %}
            </div>
        </div>
{% endblock main %}

{% block js_script %}
     <script src="{% static 'js/new_documents.js' %}"></script>
{% endblock js_script %}


