{% extends 'base.html' %}
{% load static %}

{% block static_href %}
    {% static 'css/drivers.css' %}
{% endblock static_href %}

{% block title %} Водители {% endblock title%}

{% block driver_active %} active-page   {% endblock driver_active %}

{% block main %}
<div class="main">
            <div class="main__container">
            {% if user.is_manager %}

                <div class="main__title">
                    <h1>Водители</h1>
                    <p>{{ drivers.count }}</p>
                </div>
            <form action="{% url 'drivers' %}" method="get">
                <ul class="main__filtration filtr-items">
                    <li class="filtr-items__item placeholder">
                        <input type="text" name="last_name" placeholder="ФИО">
                    </li>
                    <li class="filtr-items__item placeholder">
                        <input type="text" name="phone" placeholder="Номер телефона">
                    </li>

                    <li class="filtr-items__item">
                        <p class="filtr-items__title">Тип заявки</p>
                        <ul class="filtr-items__sub-menu">
                            {% for type_of_app in view.get_types_of_app %}
                             <label for="{{ type_of_app.id }}"  class="filtr-items__check-label">
                                <li class="filtr-items__sub-item"><input class="filtr-items__check" type="checkbox" name="applications" id="{{ type_of_app.id }}" value="{{ type_of_app.id }}">
                                    <label for="{{ type_of_app.id }}" class="filtr-items__check-label">{{ type_of_app.title }}</label>
                                </li>
                            </label>
                            {% endfor %}
                        </ul>
                    </li>
                     <li class="filtr-items__item">
                        <p class="filtr-items__title">Карты</p>
                        <ul class="filtr-items__sub-menu">
                            <label for="less_200" class="filtr-items__check-label">
                                <li class="filtr-items__sub-item"><input class="filtr-items__check" type="radio" name="card_balance" id="less_200" value="200">
                                    <label for="less_200" class="filtr-items__check-label">Баланс меньше 200</label>
                                </li>
                            </label>
                            <label for="no_cards" class="filtr-items__check-label">
                                <li class="filtr-items__sub-item"><input class="filtr-items__check" type="radio" name="card_balance" id="no_cards" value="1">
                                    <label for="no_cards" class="filtr-items__check-label">Нет карт
                                </li>
                            </label>
                            <label for="more_500" class="filtr-items__check-label">
                                <li class="filtr-items__sub-item" ><input class="filtr-items__check" type="radio" name="card_balance" id="more_500" value="500">
                                    <label for="more_500" class="filtr-items__check-label">Достаточно
                                </li>
                            </label>

                        </ul>
                    </li>

                    <button  class="filtr-items__button" type="submit">
                        <img src="{% static 'img/filtr/lupa.svg' %}" alt="поиск">
                    </button>
                </ul>
            <a class="btn-reset" href="{% url 'drivers' %}">Сбросить</a>
            </form>

                <div class="main__information">
                {% if drivers.count %}
                    <table class="main__table table">
                        <tr class="table__titles">
                          <th class="table__title">ID</th>
                          <th class="table__title">ФИО</th>
                          <th class="table__title">Номер телефона</th>
                          <th class="table__title">Записанные<br>Машины</th>
                          <th class="table__title">Активные <br>заявки</th>
                          <th class="table__title">Карты</th>
                          <th class="table__title">Прикрепленные <br>документы</th>
                        </tr>
                        {% for driver in drivers %}

                        <tr class="table__row">
                          <td class="table__cell">{{ driver.pk }}</td>
{#                          {{ driver.last_name}} {{ driver.first_name|first}}.{{ driver.patronymic|first}}.#}
                            <td class="table__cell">
                          {{ driver.last_name}} {{ driver.first_name|first}}.{{ driver.patronymic|first}}.
                            </td>
                          <td class="table__cell">{{ driver.phone}}</td>
                          <td class="table__cell">{% for car in driver.my_cars.all %}
                                    {{ car.registration_number }}<br>
                          {% endfor %}
                          </td>
                          <td class="table__cell">
                              {% for my_app in driver.my_apps.all %}
                                    {% if my_app.is_active == True %}
                                        {{ my_app.type_of }}
                                    {% endif %}  <br>
                              {% endfor %}

                          </td>
                          <td class="table__cell">
                              {% for my_card in driver.my_cards.all %}
                                    {{ my_card.pk }} ({{ my_card.balance }})<br>
                              {% endfor %}
                          </td>
                          <td class="table__cell">
                                 паспорт <br>
                                  снилс
                          </td>
                        </tr>

                        {% endfor %}

                    </table>
                {% else %}
                    <p style="text-align: center; font-size: 30px; opacity: 0.8">Не найдено </p>
                {% endif %}

                </div>
            {% else %}
             <h1 style="
                text-align: center;
                margin-top: 20%;
                font-size: 30px;
                opacity: 0.7;
                            ">Страница недоступна</h1>
            {% endif %}
            </div>
        </div>
{% endblock main %}