{% extends 'base.html' %}
{% load static %}

{% block static_href %}
    {% static 'css/account.css' %}
{% endblock static_href %}

{% block title %}{{ driver.last_name}} {{ driver.first_name|first}}.{{ driver.patronymic|first}}. ({{ driver.pk}}) {% endblock title%}

{% block main %}
<div class="main">
    <div class="main__container">
        {% if user.is_manager %}
            <div class="main__account account-area">
                <div class="account-area__avatar">
{#                    <img src="{% static '/img/account/full-avatar.jpeg' %}" alt="" />#}
                    {% if driver.image %}
                        <img src="{{ car.image.url }}" alt="" />
                    {% endif %}
                    <img src="{{ driver.image.url }}" alt="" />
                </div>
                <div class="account-area__info">
                    <input type="hidden" name="action" value="user_update">

                    <div class="account-area__item">
                        <p>Имя:</p>
                        <span id="id_first_name">{{ driver.first_name }}</span>
                    </div>

                    <div class="account-area__item">
                        <p>Фамилия:</p>
                        <span id="id_last_name">{{ driver.last_name}}</span>
                    </div>

                    <div class="account-area__item">
                        <p>Отчество:</p>
                        <span id="id_patronymic">{{ driver.patronymic }}</span>
                    </div>

                    <div class="account-area__item">
                        <p>Номер телефона:</p>
                        <span id="id_phone">{{ driver.phone|first }}-{{ driver.phone|slice:"1:4" }}-{{ driver.phone|slice:"4:7" }}-{{ driver.phone|slice:"7:11" }}</span>
                    </div>

                    <div class="account-area__item">
                        <p>Email:</p>
                        <span id="id_email">{{ driver.email }}</span>
                    </div>
                </div>
            </div>

            <div class="main__tables">
                <div class="main__table table cars">
                    <h1 class="table__table-title">Автомобили</h1>
                    {% if driver.my_cars.all %}
                        <table>
                            <tr class="table__titles">
                                <th class="table__title">Номер</th>
                                <th class="table__title">Марка</th>
                                <th class="table__title">Регион</th>
                                <th class="table__title">Последний <br>осмотр</th>
                                <th class="table__title">Активные <br>заявки</th>
                            </tr>
                            {% for car in driver.my_cars.all %}
                                <tr class="table__row">
                                    <td class="table__cell">
                                      <a href="{% url 'choose-car' car.registration_number %}">
                                              {{ car.registration_number|slice:'0:1'}}-{{ car.registration_number|slice:'1:4'}}-{{ car.registration_number|slice:'4:6'}}
                                      </a>
                                    </td>
                                    <td class="table__cell">{{ car.brand }}</td>
                                    <td class="table__cell">{{ car.region_code }}</td>
                                    <td class="table__cell">{{ car.last_inspection }}</td>
                                    <td class="table__cell">
                                        {% for app in car.applications.all %}
                                            {{ app.type }} ({{ app.pk }})<br>
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% else %}
                    Автомобилей нет
                    {% endif %}
                </div>

                <div class="main__table table applications">
                    <h1 class="table__table-title">Заявки</h1>
                    {% if driver.my_apps.all %}
                        <table>

                            <!-- ID -->                            <col style="width:1%">
                            <!-- Дата создания -->                 <col style="width:10%">
                            <!-- Дата окнчания -->                 <col style="width:10%">
                            <!-- Срочность -->                     <col style="width:10%">
                            <!-- Статус -->                        <col style="width:10%">
                            <!-- Тип -->                           <col style="width:20%">
                            <!-- Создатель -->                     <col style="width:10%">

                            <tr class="table__titles">
                                <th class="table__title">ID</th>
                                <th class="table__title">Дата</th>
                                <th class="table__title">Срочность</th>
                                <th class="table__title">Статус</th>
                                <th class="table__title">Тип</th>
                                <th class="table__title">Авто</th>
                                <th class="table__title">Краткое<br> описание</th>
                            </tr>
                            {% for app in driver.my_apps.all %}
                                <tr class="table__row">
                                    <td class="table__cell"><a href="{% url 'app'  app.pk %}">{{ app.id }}</a></td>
                                    <td class="table__cell">
                                        {{ app.start_date}}
                                        <br>-<br>
                                        {{ app.end_date}}
                                    </td>
                                    <td class="table__cell">
                                        {% if app.urgency == 'N' %}
                                            Не срочно
                                        {% elif app.urgency == 'U' %}
                                            Срочно
                                        {% else %}
                                            Очень срочно
                                        {% endif %}
                                    </td>
                                    <td class="table__cell">
                                        {% if app.status == 'O' %}
                                            <p style="color: #ffac50">Ожидает рассмотрения</p>
                                        {% elif app.status == 'R' %}
                                            <p style="color: #389b4c">Рассмотрена</p>
                                        {% elif app.status == 'V' %}
                                            <p style="color: green">Выполнена</p>
                                        {% elif app.status == 'P' %}
                                            <p style="color: red">Просрочена</p>
                                        {% elif app.status == 'T' %}
                                            <p style="color: orange">Отклонена</p>
                                        {% endif %}
                                    </td>
                                    <td class="table__cell">{{ app.type }}</td>
                                    <td class="table__cell">{{ app.car }}</td>
                                    <td class="table__cell">{{ app.description|truncatechars:10 }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% else %}
                        Заявок нет!
                    {% endif %}
                </div>

                <div class="main__table table cards">
                    <h1 class="table__table-title _doc-title">Топливные карты</h1>
                    {% if driver.my_card %}
                        <table>

                            <!-- ID -->                            <col style="width:5%">
                            <!-- Дата создания -->                 <col style="width:15%">
                            <!-- Дата окнчания -->                 <col style="width:15%">
                            <!-- Срочность -->                     <col style="width:15%">

                            <tr class="table__titles">
                                <th class="table__title">ID</th>
                                <th class="table__title">Номер</th>
                                <th class="table__title">Лимит</th>
                                <th class="table__title">Остаток</th>
                            </tr>
                            <tr class="table__row">
                                <td class="table__cell">{{ driver.my_card.id }}</td>
                                <td class="table__cell">{{ driver.my_card|slice:"0:4" }}{{ card.number|slice:"4:8" }}{{ card.number|slice:"8:12" }}{{ card.number|slice:"12:16" }}</td>
                                <td class="table__cell">{{  driver.my_card.limit }} л.</td>
                                <td class="table__cell">{{ driver.my_card.balance }} Л.</td>
                            </tr>
                        </table>
                    {% else %}
                        <button class="table__btn-add-card">Добавить</button> Карт нет
                    {% endif %}
                </div>

                <div class="main__table table documents">
                    <h1 class="table__table-title _doc-title">Документы</h1>
                    {% if driver.my_docs.all %}
                        <table>

                            <!-- ID -->                            <col style="width:5%">
                            <!-- Дата создания -->                 <col style="width:15%">
                            <!-- Дата окнчания -->                 <col style="width:15%">
                            <!-- Дата окнчания -->                 <col style="width:15%">

                            <tr class="table__titles">
                                <th class="table__title">Тип документа</th>
                                <th class="table__title">Дата получения</th>
                                <th class="table__title">Дата окончания</th>
                                <th class="table__title">Удалить?</th>
                            </tr>
                            {% for doc in driver.my_docs.all %}
                                <tr class="table__row">
                                    <td class="table__cell">{{ doc.type }}</td>
                                    <td class="table__cell">{{ doc.start_date|date:"d-m-Y"}}</td>
                                    <td class="table__cell">{{ doc.end_date|date:"d-m-Y"}}</td>
                                    <td class="table__cell">
                                        <button class="table__btn-delete-app" id="doc-{{ doc.pk }}" style="background: red">Удалить</button>
                                    </td>
                                </tr>
                            {% endfor %}

                        </table>
                    {% else %}
                        документов нет!
                    {% endif %}
                </div>
            </div>
        {% else %}
            <h1 style="
            margin-left: 36%;
            margin-top: 20%;
            font-size: 30px;
            opacity: 0.7;
                        ">Страница недоступна</h1>
        {% endif %}
    </div>
</div>
{% endblock main %}

{% block forms %}
    {% if user.is_manager %}
    <form method="post"> {% csrf_token %}
        <div class="form-card add" style="min-width: 200px">
            <button type="reset">
                <div class="bnt-form-card-reset-add">
                    <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                        <line x1="0" x2="100" y1="0" y2="100" />
                        <line x1="0" x2="100" y1="100" y2="0" />
                    </svg>
                </div>
            </button>
            <h1 class="form-app__title">Выберите карту:</h1>
            <input type="hidden" name="action" value="add-card">
            <div class="form-app__timing">
                <select style="padding: 5px; font-size: 18px;"  name="card" id="id_brand">
                    {% for card in free_cards %}
                         <option value="{{ card.pk }}">{{ card.number|slice:"0:4"}} - {{ card.number|slice:"4:8"}} - {{ card.number|slice:"8:12"}} - {{ card.number|slice:"12:16"}}</option>
                    {% endfor %}
                </select>
                <button type="submit">Отправить</button>
            </div>
        </div>
    </form>
    {% endif %}
{% endblock forms %}

{% block js_script %}
<script src="{% static 'js/new_driver.js' %}"></script>
{% endblock js_script %}