{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Авторизация</title>
</head>
<body>
    <div class="wrapper">
        <div class="main">
            <div class="main__container">
                <form class="main__form" action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    <div class="main__title">
                        <h1>Авторизация</h1>
                    </div>
                   {% if user.is_authenticated %}
                        <div class="main__items">
                            <h1>Вы уже выполнили вход!</h1>
                        </div>
                   {% else %}
                       <div class="main__items">
                       {{ form }}
{#           {% for field in form %}#}
{#                {{field.label_tag}}#}
{#                <div>{{field}}</div>#}
{#                {% if field.errors%}#}
{#                    {% for error in field.errors %}#}
{#                        <div style="color: red; opacity: 1;">#}
{#                            {{error}}#}
{#                        </div>#}
{#                    {% endfor %}#}
{#                {% endif %}#}
{#           {% endfor %}#}

                       </div>
                        <input class="main__button" type="submit" value="Отправить">
                        <a style="margin-bottom: -15px;" href="car.html"> Забыли пароль?</a>
                       <a style="margin-bottom: -15px;" href="{% url 'registration' %}">Регистрация</a>
                   {% endif %}
                </form>

            </div>
        </div>
    </div>
</body>
</html>
